node_modules
.pnpm-store
npm-debug.log
pnpm-debug.log
.git
.gitignore
Dockerfile
.dockerignore
.env
.env.*
dist
build
coverage
.vscode
.idea


node_modules
.env



.pnpm-store

.docker/postgres
package-lock.json

generated

.pnpm-lock.yaml
